.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-wrapper {
  margin-top: 70px;
}

.body-wrapper {
  padding: 0 16px;
}

.custom-icon {
  font-size: 18px;
  color: #475058;
}

.edit-icon:hover {
  color: #282c34;
}

.delete-icon {
  margin-left: 20px;
}

.delete-icon:hover {
  color: #282c34;
}

.logo {
  font-size: 30px;
  margin-right: 5px;
}

.success-mess {
  color: green;
}

.error-mess {
  color: red;
}

.btn {
  margin-top: 3px;
}

.btn-success {
  background-color: #4ea335;
  border-color: #4ea335;
}

.bg-dark {
  background-color: #284069 !important;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 400;
  color: rgb(245, 240, 240);
  font-size: 20px;
}

.nav-link-icon {
  font-size: 20px;
  margin-right: 10px;
}

.left-col {
  margin-bottom: 15px;
}

.right-col {
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (max-width: 991px) {
  .left-col {
    text-align: center;
  }

  .right-col {
    text-align: center;
  }

  canvas {
    display: inline !important;
  }
}
